@media screen and (min-width: 320px) and (max-width: 1260px) {
  .inner {
    width: 100%;
  }
  header, main, .find, .best-seller, .event-product,
  .event-notice, .service, .info, footer {
    display: none;
  }
  /*floating-menu*/
  .floating-menu {
    display: none;
  }
  .container {
    overflow: visible;
  }
  /* review section */
  .review .swiper.review-slide {
    background: url(../imgs/bg-review.png) no-repeat top center;
    overflow: hidden;
  }
  .review .swiper.review-slide .swiper-control {
    display: block;
  }
  .review .swiper.review-slide .swiper-wrapper {
    display: flex;
    gap: 0;
    width: 300%;
    height: 100%;
    transition-property: transform;
    overflow: hidden;
  }
  .review .swiper.review-slide .swiper-wrapper .swiper-slide {
    padding: 100px 20px 0 20px;
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .review .swiper.review-slide .swiper-wrapper .swiper-slide-active .review-img {
    transform: translateY(-5%);
  }
  .review .swiper.review-slide .swiper-wrapper .swiper-slide .review-img {
    width: 100%;
    height: auto;
    transition: 0.8s;
  }
  .review .swiper.review-slide .swiper-wrapper .swiper-slide .review-img img {
    width: 100%;
  }
  .review .swiper.review-slide .swiper-wrapper .swiper-slide .review-img:hover {
    transform: translateY(-10%);
  }
  .review .swiper.review-slide .swiper-wrapper .swiper-slide .review-txt {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: wrap;
    word-break: kepp-all;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    padding: 0 50px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 300;
  }
  .review .swiper.review-slide .swiper-wrapper .swiper-slide .review-link a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    border-top: 1px dashed rgba(0, 0, 0, 0.3254901961);
    color: #333;
  }
  .review .swiper.review-slide .swiper-wrapper .swiper-slide .review-link a img {
    border-radius: 5px;
    width: 56px;
    height: 56px;
  }
  .review .swiper.review-slide .swiper-wrapper .swiper-slide .review-link a .desc {
    text-align: center;
  }
  .review .swiper.review-slide .swiper-wrapper .swiper-slide .review-link a .desc strong {
    display: block;
  }
  .review .swiper.review-slide .swiper-wrapper .swiper-slide .review-link a .go-to-detail {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .review .swiper.review-slide .swiper-wrapper .swiper-slide .review-link a .go-to-detail::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imgs/ico-sprites.svg) no-repeat -20px -151px;
    width: 13px;
    height: 10px;
  }
  /* service section */
  .service .title {
    text-align: center;
    margin-bottom: 50px;
  }
  .service .title hr {
    display: none;
  }
  .service .title p {
    margin-top: 20px;
  }
  .service-cont {
    flex-direction: column;
    gap: 30px;
    padding: 0;
  }
  .service-cont .item {
    width: 100%;
  }
  .service-cont .item .img {
    width: 100%;
    border-radius: 0;
  }
  .service-cont .item .img img {
    width: 100%;
    object-fit: cover;
  }
  .service-cont .item .desc {
    padding: 20px;
  }
  .service-cont .item:nth-of-type(2) {
    margin-top: 30px;
  }
  .service-cont .item:nth-of-type(2) .img.right {
    border-radius: 0;
  }
  /* info section */
  .info {
    padding-top: 100px;
  }
  .info-innovation {
    width: 100%;
  }
  .info-innovation .innovation_pc {
    display: none;
  }
  .info-innovation .innovation_mo {
    width: 100%;
    height: 100%;
    display: block;
  }
  .info-innovation .cont h3 {
    font-size: 40px;
    text-wrap: nowrap;
  }
  .info-innovation .cont p {
    text-wrap: nowrap;
  }
  .info-link {
    margin-top: 50px;
  }
  .info-link .links {
    flex-direction: column;
  }
  .info-link .links li {
    display: flex;
    margin-bottom: 15px;
  }
  .info-link .links li .links-link {
    display: flex;
  }
  .info-link .links li .links-link::before {
    margin-top: 30px;
  }
  .info-link .links li .links-link .links-desc {
    flex: 1;
    margin-left: 20px;
    text-align: left;
  }
  .info-link .links li .links-link .links-desc span {
    color: #222;
  }
  /*footer */
  footer {
    background: #333;
  }
  footer .inner {
    padding: 20px 10px;
  }
  footer .f-logo {
    margin: 40px 0;
  }
  footer .f-cont {
    flex-direction: column-reverse;
    gap: 20px;
  }
  footer .f-cont .f-info .links {
    font-size: 13px;
    text-wrap: nowrap;
  }
  footer .f-cont .address-info {
    font-size: 12px;
    line-height: 2em;
    word-break: kepp-all;
    padding-right: 10px;
  }
  footer .f-cont .f-company .company-info {
    padding-bottom: 40px;
    border-bottom: 1px solid #333;
  }
  footer .f-cont .f-company .call {
    flex-direction: column;
    padding: 30px 0;
    border-bottom: 1px solid #333;
  }
}