@media screen and (min-width: 320px) and (max-width: 1260px) {
  .inner {
    width: 100%;
  }
  header, main, .find, .best-seller, .event-product,
  .event-notice, .review, .service, .info {
    display: none;
  }
  /*floating-menu*/
  .floating-menu {
    display: none;
  }
  /*footer */
}