@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;600&display=swap");
/* reset css */
ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* common css */
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

* {
  box-sizing: border-box;
}

.inner {
  width: 1260px;
  margin: 0 auto;
}

/* floating-menu */
.floating-menu {
  display: none;
}
/* header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  transition: 0.3s;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.2784313725);
}
header.active {
  background: #fff;
  width: 100%;
}
header.active .logo a {
  display: block;
  background: url(/assets/imgs/img-sprites.png) no-repeat -80px -120px;
  width: 127px;
  height: 50px;
}
header.active .gnb li a {
  color: #000;
}
header.active .util li a {
  color: #000;
}
header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1760px;
  min-width: 1200px;
  height: inherit;
  margin: 0 auto;
}
header .logo {
  margin-right: 150px;
}
header .logo a {
  background: url(/assets/imgs/img-sprites.png) no-repeat -240px -120px;
  width: 127px;
  height: 50px;
  display: block;
}
header .gnb {
  display: flex;
  margin-right: auto;
}
header .gnb > li {
  margin: 0 30px;
}
header .gnb > li > a {
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  width: 100%;
  padding-bottom: 62px;
}
header .gnb > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #772480;
  transition: 0.3s;
}
header .gnb > li:hover a {
  color: #772480;
}
header .gnb > li:hover a::after {
  width: 100%;
}
header .gnb > li .sub {
  display: none;
  transition: 0.3s;
}
header .gnb > li .sub .depth {
  position: relative;
  display: flex;
}
header .gnb > li .sub .depth > li {
  width: 150px;
  margin-right: 10px;
  white-space: nowrap;
}
header .gnb > li .sub .depth > li > a {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
header .gnb > li .sub .depth > li > a:hover {
  color: #772480;
}
header .gnb > li .sub .depth2 li a {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  color: #777;
}
header .gnb > li .sub.active {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 30px 0;
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.0392156863);
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.062745098);
}
header .gnb .prod1 .depth {
  left: 366px;
}
header .gnb .prod2 .depth {
  margin-left: 500px;
}
header .gnb .prod2 .depth2 {
  margin-top: 10px;
}
header .gnb .prod3 .depth {
  margin-left: 670px;
}
header .gnb .prod4 .depth {
  margin-left: 810px;
}
header .gnb .prod5 .depth {
  margin-left: 300px;
  text-align: center;
}
header .util {
  display: flex;
}
header .util li {
  margin-right: 10px;
}
header .util li a {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 13px;
}
header .util li a .badge {
  color: #fff;
  background: #772480;
  border-radius: 50%;
  padding: 1px 5px;
}

/* main */
main {
  height: 500px;
  border: 1px solid red;
}

/*find section */
.find .title {
  text-align: center;
  margin: 30px 0;
}
.find .title h2 {
  margin: 30px 0;
}
.find-link {
  padding: 10px 15px;
  border-radius: 20px;
  background: #772480;
  color: #fff;
}
.find-slide {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.find-slide .imgs {
  display: flex;
}
.find-slide .imgs.origin {
  animation: slide-origin 60s linear infinite;
}
.find-slide .imgs.clone {
  animation: 60s linear 0s infinite normal none slide-clone;
}

@keyframes slide-origin {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-clone {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
/* best-seller section */
.best-seller {
  height: 400px;
  border: 1px solid gold;
}

/* event-product section */
.event-product {
  height: 400px;
  border: 1px solid orange;
}

/* event-notice section */
.event-notice {
  height: 400px;
  border: 1px solid purple;
}

/* review section */
.review {
  height: 400px;
  border: 1px solid #000;
}

/* service section */
.service .title {
  text-align: center;
  margin-bottom: 50px;
}
.service .title h2 {
  margin: 30px 0;
}
.service .title hr {
  width: 3%;
  border: 1px solid #000;
}
.service .title p {
  color: #333;
}
.service-cont {
  display: flex;
  justify-content: center;
  padding: 0 50px;
  gap: 70px;
}
.service-cont .item {
  width: 420px;
}
.service-cont .item .img {
  width: 420px;
  height: 600px;
  border-radius: 500px 500px 250px 0;
  overflow: hidden;
}
.service-cont .item .img img {
  height: 100%;
  display: block;
}
.service-cont .item .desc {
  margin-top: 20px;
}
.service-cont .item .desc h3 {
  font-size: 28px;
}
.service-cont .item .desc p {
  font-size: 18px;
  color: #333;
}
.service-cont .item .desc .service-link {
  font-weight: bold;
  color: .service-cont .item .desc .service-link #772480;
}
.service-cont .item .desc .service-link::after {
  content: "\f061";
  font-family: fontawesome;
  margin-left: 5px;
  transition: 0.3s;
}
.service-cont .item .desc .service-link:hover::after {
  margin-left: 10px;
}
.service-cont .item:nth-of-type(2) {
  margin-top: 150px;
}
.service-cont .item:nth-of-type(2) .img.right {
  border-radius: 250px 0 500px 500px;
}

/* info section */
.info {
  height: 400px;
  border: 1px solid #000;
}

/* footer */
footer {
  height: 400px;
  border: 1px solid #000;
}